#title {
	margin-top: 100px;
	font-weight: 300;
	font-style: italic;
}

.row {
	display: flex;
	justify-content: center;
}

.size1 {
	width: 75px;
}

.size2 {
	width: 154px;
}

#display {
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	margin: auto;
	font-size: 25px;
	width: 312px;
    text-overflow: clip;
    overflow: hidden;
}

button {
	background-color: #f6f6f6;
	font-family: Arial;
	padding: 10px 30px 10px 30px;
  	border-radius: 5px;
	border: 1px solid #c9c9c9;
	margin: 2px;
  	font-size: 20px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	text-align: center;
}
